.tile {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto; /* Ensures that the height is adjusted according to the content */

    .image {
        width: 100%;
        height: auto;
        display: block;
    }

    .title {
        position: absolute;
        bottom: 0; /* Ensures placing of title at the bottom of the tile */
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 0 10px;
        font-size: 14px;
        line-height: 1.2em;
        max-height: 3.6em; /* Ensures the content of the title to 3 lines of text */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s, white-space 0.3s;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* WebKit specific: Ensures the content of the title to 3 lines of text */
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }

    &:hover .title {
        opacity: 1;
        white-space: normal; /* Allows the text to wrap */
        padding: 0 10px;
    }
}
